{% extends 'student/studentbase.html' %}
{% block content %}
{%load static%}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@3.8.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/face-api.js@0.23.0"></script>
  
</head>


<div class="jumbotron my-4">
  
  
  <form class="form" autocomplete="off" onsubmit="return saveAns()"  action="/student/calculate-marks" method="POST">
    {% csrf_token %}
    <h1 style="text-align: center;">{{course.course_name}}</h1>
    {% for q in questions%}
    <h3 class="text-info">{{ forloop.counter }}. {{q.question}}</h3><h4 style="text-align: right;">[Marks {{q.marks}}]</h4>
    
        <input type="hidden" name="csrfmiddlewaretoken" value="C24rUotmdHawVQJL3KrqiWxvti8UffOFYUc8TRbZtLt36AVLdP3jbkzUVe3beRAa">
        
        
          <div class="form-check mx-4">
            <input class="form-check-input" type="radio" name="{{ forloop.counter }}" id="{{q.option1}}" value="Option1">
            <label class="form-check-label" for="option1">
              {{q.option1}}
            </label>
          </div>

        
          <div class="form-check mx-4">
            <input class="form-check-input" type="radio" name="{{ forloop.counter }}" id="{{q.option2}}" value="Option2">
            <label class="form-check-label" for="option2">
              {{q.option2}}
            </label>
          </div>

        
          <div class="form-check mx-4">
            <input class="form-check-input" type="radio" name="{{ forloop.counter }}" id="{{q.option3}}" value="Option3">
            <label class="form-check-label" for="option3">
              {{q.option3}}
            </label>
          </div>

        
          <div class="form-check mx-4">
            <input class="form-check-input" type="radio" name="{{ forloop.counter }}" id="{{q.option4}}" value="Option4">
            <label class="form-check-label" for="option4">
              {{q.option4}}
            </label>
          </div>

        {% endfor %}
        <input class="btn btn-info btn-lg"   type="submit" value="Submit">  
    </form>
  </div>

<script>
  function saveAns(){  
    var ele = document.getElementsByTagName('input'); 
    for(i = 0; i < ele.length; i++) { 
        if(ele[i].type="radio") { 
            if(ele[i].checked){        
              setCookie(ele[i].name,ele[i].value,3)
            }
        } 
    }       
  }

function setCookie(cname, cvalue, exdays) { 
  var d = new Date();
  d.setTime(d.getTime() + (exdays*24*60*60*1000));
  var expires = "expires="+ d.toUTCString();
  document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
}
  let cameraStream = null;

  function startExam() {
    navigator.mediaDevices
      .getUserMedia({ video: true })
      .then(function (stream) {
        const cameraFeedElement = document.getElementById("camera-feed");
        cameraStream = stream;
        cameraFeedElement.srcObject = stream;
        cameraFeedElement.style.display = "block"; // Show the camera feed container
      })
      .catch(function (error) {
        console.error("Error accessing camera:", error);
      });
  }
  document.addEventListener("DOMContentLoaded", startExam);
// let cameraStream = null;

// function startExam() {
//   navigator.mediaDevices
//     .getUserMedia({ video: true })
//     .then(function (stream) {
//       const cameraFeedElement = document.getElementById("camera-feed");
//       cameraStream = stream;
//       cameraFeedElement.srcObject = stream;
//       cameraFeedElement.style.display = "block"; // Show the camera feed container
      
//       // Load the face-api.js models
//       Promise.all([
//         faceapi.nets.tinyFaceDetector.loadFromUri('/models'),
//         faceapi.nets.faceLandmark68Net.loadFromUri('/models'),
//         faceapi.nets.faceRecognitionNet.loadFromUri('/models'),
//         faceapi.nets.faceExpressionNet.loadFromUri('/models')
//       ]).then(startFaceDetection);
//     })
//     .catch(function (error) {
//       console.error("Error accessing camera:", error);
//     });
// }
// function startFaceDetection() {
//   console.log("loaded");
//   const cameraFeedElement = document.getElementById("camera-feed");
//   const canvas = faceapi.createCanvasFromMedia(cameraFeedElement);
//   document.body.append(canvas);
//   const displaySize = { width: cameraFeedElement.width, height: cameraFeedElement.height };
//   faceapi.matchDimensions(canvas, displaySize);

//   setInterval(async () => {
//     const detections = await faceapi.detectAllFaces(cameraFeedElement, new faceapi.TinyFaceDetectorOptions())
//       .withFaceLandmarks()
//       .withFaceDescriptors()
//       .withFaceExpressions();

//     // Clear canvas
//     canvas.getContext('2d').clearRect(0, 0, canvas.width, canvas.height);

//     // Draw face and eye detection results
//     faceapi.draw.drawDetections(canvas, faceapi.resizeResults(detections, displaySize));
//     faceapi.draw.drawFaceLandmarks(canvas, faceapi.resizeResults(detections, displaySize));
//     detections.forEach(detection => {
//       const eyes = detection.landmarks.getJawOutline().concat(detection.landmarks.getLeftEyeBrow()).concat(detection.landmarks.getRightEyeBrow());
//       const eyeBlinkThreshold = 0.2; // Adjust this threshold as needed
//       const isBlinking = detection.expressions.blink > eyeBlinkThreshold;
      
//       if (isBlinking) {
//         canvas.getContext('2d').strokeStyle = 'red';
//         canvas.getContext('2d').lineWidth = 2;
//         canvas.getContext('2d').beginPath();
//         eyes.forEach(point => {
//           canvas.getContext('2d').moveTo(point.x, point.y);
//         });
//         canvas.getContext('2d').closePath();
//         canvas.getContext('2d').stroke();
//       }
//     });
//   }, 100); // Adjust the interval as needed
// }

document.addEventListener("DOMContentLoaded", startExam);

</script> 

<br><br><br><br><br><br>
{% endblock content %}